@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Exportar Datos a XML";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="EnviarDatosOdoo">Enviar Datos a Odoo</a>
</p>


<h1>Generar XML </h1>

@if (ViewBag.Result != null)
{
    <p>Resultado: @ViewBag.Result</p>
}

@if (ViewBag.Error != null)
{
    <p>Error: @ViewBag.Error</p>
}

<a asp-action="ExportarXML" class="btn btn-primary">Generar XML por Separado</a>
<a asp-action="ExportarXMLTodo" class="btn btn-primary">Generar XML Juntos</a>

