@model IEnumerable<CapaModelo.Habitacion>
@{
    ViewData["Title"] = "Habitaciones Disponibles";
}

<h1>Habitaciones Disponibles</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Tipo de Habitación</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var habitacion in Model)
            {
                <tr>
                    <td>@habitacion.Numero</td>
                    <td>@habitacion.TipoHabitacionId</td>
                    <td>@((habitacion.Estado == 1) ? "Activa" : "Inactiva")</td>
                    <td>
                        <a href="@Url.Action("Create", "Reserva", new { habitacionId = habitacion.Numero, fechaInicio = ViewBag.FechaInicio, fechaFin = ViewBag.FechaFin })" class="btn btn-success">Reservar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay habitaciones disponibles para las fechas seleccionadas.</p>
}
